*  {
      margin: 0;
     padding: 0;
    box-sizing: border-box;
   font-family: Arial, sans-serif;
} body{
  
  background-color:#0F0F0F;}
 
  .search-box {
  display:flex;
  
  margin-left: 400px;
  margin-top: 14px;

  
border: none;

  
}.search-input {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  border: flex;
  padding: 0 10px;
  border-radius: 20px 0 0 20px ;
background-color: rgb(116, 116, 116);
color:rgb(0, 0, 0);
font-size: 18px;


}.search-input::placeholder{
  color: rgb(0, 0, 0);}
.search-btn{
  width: 60px;
  
  height: 40px;
  border-radius: 0 20px 20px 0;
  border: rgb(2, 2, 2);
  background-color: rgb(83, 83, 83);
  cursor: pointer;
  box-shadow: #000000 0px 1px 01px 1px;
  
  
 
  }.search-btn :hover{
    
 
border-radius: 0 22px 22px 0;
 
  }.search-input:focus{
    outline:none;
    border:none;
    box-shadow: inset 0 0 0 1px rgb(0, 153, 255);
  display:flex;}

  .youtube{
  display: flex;
   }/* this is search syetm end point */
   .shorts-btn{
    border:none;
display: flex;
    padding: 10px;
    background-color:#0F0F0F;
    margin-top: 100px;
   cursor: pointer;
   }.short-play{
    fill:white !important;
     transition: all 0.3s ease;
  
  
  }
    .short-body{    
      fill:transparent;
    stroke: white !important;
    stroke-width: 1.5px !important;
    transition: all 0.3s ease;
    }.shorts-btn:focus.short-body,
    .shorts-btn:focus .short-body {
 fill :white !important;
    stroke: none !important;


    }.shorts-btn:focus .short-play,
    .shorts-btn:focus .short-play{
      fill:#0F0F0F !important;}
      


    