*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.incard-1{
    
    justify-content: center;
align-items: center;
display: none;



}.page-head1{
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;





}.hiddin1{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}.hiddin1 h5{
    color: green;
    margin-bottom: 20px;
    font-size: 20px;

}.hiddin1 .rety{

 box-shadow: 0 0 10px green;
 display: flex;
    justify-content: center;
align-items: center;
border-radius: 10px 10px 10px 10px;



}